@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="text-center mt-4">
    <h2>Introduction</h2>
    <p>This simple CRUD (Create, Read, Update, Delete) application is a demonstration project developed for an internship interview at Schneider Electric. It showcases the essential functionalities required for managing data in a web application using ASP.NET Core.</p><br/>
    <p>The application aims to provide a hands-on experience in building and deploying web apps with modern technologies and frameworks, emphasizing efficient data management and user-friendly interfaces.</p><br />
    <p>Made By: Ayu Sihombing</p>
</div>
